[user]
	email = Nope, not going on github.
	name = Austin Keeley
[push]
	default = simple
[core]
	editor = vim
[http]
	proxy = 
[https]
	proxy = 
[alias]
        rumble = daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
